@model TestCase.Models.TestCaseConfigModel
@using System.Text.RegularExpressions;
@using DynamicForms;

@{
    Layout = null;
}

<html>
    <head>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.status-label').show().fadeOut(5000);
            });
        </script>
    </head>
    <body>
        @using (@Html.BeginForm("Configuration", "TestCase", FormMethod.Post))
        {
            <div class="MaintenanceDynamicForm MaintenanceDynamicFormSection" style="overflow: auto;">
                <div class="DynamicFormContainer">
                </div>
                <div class="BtnContain" >
                    <input type="submit"  id="SaveDynamicForm" value="Save" />
                    <input type="button" class="CancelBtn" value="Cancel" />
                    <span style="float:right" class="status-label">@ViewBag.StatusLbl</span>
                </div>
            </div>
        }
    </body>
</html>