@model TestCase.Models.TestCaseModel
@using System.Text.RegularExpressions;
@using DynamicForms;

@{
    Layout = null;
}

<html>
    <head>
    </head>
    <body>
        @using (@Html.BeginForm("Configuration", "TestCase", FormMethod.Post))
        {
            <div class="MaintenanceDynamicForm MaintenanceDynamicFormSection" style="overflow: auto;">
                <div class="DynamicFormContainer">
                </div>
                <div class="BtnContain" >
                    <input type="submit"  id="SaveMaintenanceDynamicForm" value="Save" />
                    <input type="button" class="CancelBtn" value="Cancel" />
                    <span style="float:right" class="status-label" id="MaintenanceDynamicFormLbl"></span>
                </div>
            </div>
        }
    </body>
</html>